{% extends 'global/Page.html' %}
{% load otree %}
{% block title %}Zulassungsverfahren{% endblock %}

{% block content %}

    <p>In jeder Runde werden die Zulassungen durch das gleiche Verfahren bestimmt. Dieses Verfahren läuft wie folgt ab:</p>

    <p>Ihnen und den anderen drei Mitgliedern in Ihrer Gruppe wird <b>jeweils eine der Schulen (A-D)
    <u>vorläufig</u> zugeteilt</b>, wobei jedes Mitglied die gleichen Chancen auf jede Schule hat. Eine vorläufige Zuteilung
    ist noch keine endgültige Zuteilung, dass heißt, alle Plätze können im Laufe des Verfahrens noch getauscht werden.
    Außerdem wird jedem Gruppenmitglied <b>eine
    Lotterienummer (1-4) zugewiesen</b>, die bestimmt, in welcher <b>Reihenfolge die übermittelten Präferenzlisten bei den Schulen
    berücksichtigt werden</b>. Jede:r Schüler:in hat die gleichen Chancen auf jede Nummer. Bei der Zuteilung werden die Präferenzlisten
    der Schüler:innen mit einer niedrigeren Lotterienummer gegenüber den Präferenzlisten der Schüler:innen mit einer höheren Lotterienummer
    bevorzugt berücksichtigt. Die vorläufige Zuteilung der Schulen und die Lotterienummern werden in jeder der 20 Runden neu
    ermittelt und werden nicht bekannt gegeben.</p>

    <p>Die Zulassung an den Schulen funktioniert wie folgt:</p>

    <ul>
    <li><b>Alle Bewerber:innen werden gemäß der durch die Lotterie bestimmten Reihenfolge in einer Warteschlange geordnet.</b> </li>
    <li>Beginnend mit dem oder der Schüler:in mit der niedrigsten Lotterienummer, wird eine Bewerbung an die Schule geschickt,
    die auf der Präferenzliste an erster Stelle steht.</li>
        <ul>
            <li>Wenn die Bewerbung an die Schule geschickt wird, an der der Schüler oder die Schülerin <b>bereits vorläufig
            zugelassen</b> wurde, dann wird die vorläufige Zulassung zu einer <b>endgültigen Zulassung</b>. Eine Schule kann nicht
            mehr Schüler:innen anehmen, als sie Plätze hat. Der oder die Schüler:in und die entsprechende Schule <b>werden
            aus dem weiteren Verfahren herausgenommen</b> und es wird gemäß der Lotterienummern mit der nächsten
            Bewerbung fortgefahren.</li>
            <li>Wenn die Bewerbung an eine andere Schule geschickt wird, dann wird <b>das Gruppenmitglied, das der Schule vorläufig
            zugeteilt wurde, an den Anfang der Warteschlange</b> vor den oder die Schüler:in mit der niedrigsten Lotterienummer
            gesetzt.</li>
        </ul>
    <li>Wann immer die Warteschlange verändert wird, wird das Zulassungsverfahren in gleicher Weise fortgesetzt. </li>
    <li>Ein <b>Tausch zum gegenseitigem Vorteil</b> wird erreicht, wenn ein <b>Zyklus an Bewerbungen gefunden wird, der alle betroffenen
    Schüler:innen besserstellt</b>. In diesem Fall wird der Tausch abgeschlossen und die Schüler:innen und ihre zugeteilten
    Schulen werden aus dem weiteren Verfahren herausgenommen.</li>
    <li>...</li>
    </ul>

    <p><b>Das Zulassungsverfahren wird so lange nach diesen Regeln fortgesetzt, bis jede:r Schüler:in <u>endgültig</u> an einer
        Schule zugelassen wurde und keine weiteren Tauschmöglichkeiten zum gegenseitigem Vorteil bestehen.</b>
    Sobald dies der Fall ist, wird das Zulassungsverfahren beendet.</p>

    <p>Sie erhalten nach jeder Runde eine Rückmeldung darüber, an welcher Schule Sie endgültig zugelassen werden.</p>

    {% next_button %}

{% endblock %}